body{
    background: #1f1f1f;

}
.text-custom{
    color: rgb(255, 231, 164);
}
.link-hover-color:hover{
    color: rgb(255, 175, 101);
}
.logo{
    display: flex;
    flex-direction: column;
    width: 400px;
    float: left;
}
#under-logo-txt{
    color: rgb(190, 175, 131);
    margin: 0;
    text-shadow: 0 0 3px #70461e, 0 0 5px #9c5656;
    text-align: center;
    font-size: 30px
}
.banner{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.navbar{
    display: flex;
    width: 40%;
    height: 20%;
    justify-content: start;
    flex-direction: column;
}
th{
    position: sticky;
    top: 0;
    background-color: #1f1f1f;
}
img{
    max-width: 80%;
}